/* STILI CSS DELLA PAGINA */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@400;700&family=Outfit:wght@400;700&display=swap");

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Outfit", sans-serif;
  color: white;
}

img {
  margin-top: 0.3em;
  width: 20vh;
  margin-top: 50px;
  margin-left: 150px;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  color: white;
  text-align-last: center;
  margin: 10px;
  margin-top: 100px;
}

h3 {
  font-size: 2em;
  color: white;
  text-align-last: center;
  margin: 10px;
  margin-top: 30px;
}

.container {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#star {
  margin: 60px;
  margin-bottom: 70px;
  font-size: 3em;
}

.fafa-star {
  font-size: 2em;
}

h3 {
  margin-top: 30px;
  line-height: 50px;
}

.start {
  text-align: initial;
}

input {
  background: none;
  font-size: 1.4em;
  margin-top: 50px;
  border: none;
  color: white;
  margin-left: 1em;
  outline: none;
  font-family: "Outfit", sans-serif;
}

hr {
  border: 1px solid #c2128d;
}

button {
  margin-top: 50px;
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 1.5em;
  background-color: #00ffff;
  color: #0b113b;
  font-weight: 800;
  box-shadow: 0px 0px 30px #00ffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 2px;
}

button:hover {
  opacity: 0.7;
}

.blue {
  padding: 0 5px;
  color: #081050;
  transition: all 0.3s ease;
}
.white {
  color: #00ffff;
  padding: 0 5px;
  transition: all 0.3s ease;
}
.blue0 {
  padding: 0 5px;
  color: #081050;
  transition: all 0.3s ease;
}
.white0 {
  color: #00ffff;
  padding: 0 5px;
  transition: all 0.3s ease;
}
